endpoint http:Client {{qualifiedServiceName}}_{{endpointUrlType}} {
    url: {{#if serviceDiscovery.isEnabled}}{{#if serviceDiscovery.etcd.etcdEnabled}}gateway:etcdSetup("{{api.id}}_{{endpointUrlType}}_endpoint_0","{{api.id}}_{{endpointUrlType}}_etcdKey","{{endpoints.0.endpointUrl}}"){{/if}}{{#if serviceDiscovery.consul.consulEnabled}}gateway:consulSetup("{{api.id}}_{{endpointUrlType}}_endpoint_0","{{api.id}}_{{endpointUrlType}}_consulKey","{{endpoints.0.endpointUrl}}"){{/if}}{{else}}gateway:retrieveConfig("{{api.id}}_{{endpointUrlType}}_endpoint_0","{{endpoints.0.endpointUrl}}"){{/if}}{{>caching}}{{>basicAuth}}
};