endpoint http:Client {{qualifiedServiceName}}_{{type}} {
    url: {{#if serviceDiscovery.isEnabled}}{{#if serviceDiscovery.etcd.etcdEnabled}}gateway:etcdSetup("{{api.id}}_{{type}}_endpoint_0","{{api.id}}_{{type}}_etcdKey","{{inline.endpointConfig.list.0.url}}"){{else if serviceDiscovery.consul.consulEnabled}}gateway:consulSetup("{{api.id}}_{{type}}_endpoint_0","{{api.id}}_{{type}}_consulKey","{{inline.endpointConfig.list.0.url}}"){{/if}}{{else}}gateway:retrieveConfig("{{api.id}}_{{type}}_endpoint_0","{{inline.endpointConfig.list.0.url}}"){{/if}}{{>http2}}{{>caching}}{{>basicAuth}}
};